extends home
block extraHeader
    style.
        article, aside, figure, footer, header,
        menu, nav, section {
            display: block;
        }
block body-content
    .container
        .row.main
            .main-login.main-center
                h2(class="form-register-heading")
                    | Добавяне на нова квартира:

            form(action="/addflat" class="form-addflat" method="post")
                .form-group
                    label.cols-sm-2.control-label(for='username') Username
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-users.fa(aria-hidden='true')
                            input#username.form-control(type='text', name='username', readonly=true, value=user.username)
                .form-group
                    label.cols-sm-2.control-label(for='title') Име
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-user.fa(aria-hidden='true')
                            input#title.form-control(type='text', name='title', placeholder="Заглавие")
                .form-group
                    label.cols-sm-2.control-label(for='startDate') От дата
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-envelope.fa(aria-hidden='true')
                            input#startDate.form-control(type='text', name='startDate', readonly=true, placeholder="Дата")
                .form-group
                    label.cols-sm-2.control-label(for='endDate') До дата
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-envelope.fa(aria-hidden='true')
                            input#endDate.form-control(type='text', name='endDate', readonly=true, placeholder="Дата")
                .form-group
                    label.cols-sm-2.control-label(for='location') Квартал
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-envelope.fa(aria-hidden='true')
                            input#location.form-control(type='text', name='location', placeholder="квартал")
                .form-group
                    label.cols-sm-2.control-label(for='content') Квартира за (брой съквартиранти):
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg(aria-hidden='true')
                            input.scrollabletextbox(name='neededMates', placeholder='брой съквартиранти')
                .form-group
                    label.cols-sm-2.control-label(for='content') Съдържание:
                    .cols-sm-10
                        .input-group
                            span.input-group-addon
                                i.fa.fa-lock.fa-lg(aria-hidden='true')
                            input#content.form-control(type='text', name='content', placeholder='Enter your content')

                .form-group
                    input(type='file', onchange='readURL(this, #img);')
                    img#img()
                    input(type='file', onchange='readURL(this, #img2);')
                    img#img2()
                    input(type='file', onchange='readURL(this, #img3);')
                    img#img3()
                .form-group
                button(class="btn btng btn-primary btn-block" type="submit")
                    | Добави квартира
block custom-scripts
    script.
        function readURL(input, tag) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(`${tag}`)
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
